{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block conteudo %}
    <div class="container-fluid bg-success d-flex justify-content-center align-items-center py-5">
        <h1 style="font-size: 3.4em;" class="text-white text-center">Nossa equipe</h1>
    </div>

    <div class="container-fluid py-5">
      <div class="container">
        <div class="row g-0 mb-3">
            <div class="card col-md-4">
                <img src="imgs/wescley.jpg" class="card-img-top" alt="..." style="max-width: 400px;">
                <div class="card-body">
                  <h2 class="card-title text-success">Wescley Plínio</h2>
                </div>
            </div>
            <div class="card col-md-4">
                <img src="imgs/ellainy.jpg" class="card-img-top" alt="..." style="max-width: 400px;">
                <div class="card-body">
                  <h2 class="card-title text-success">Ellainy Nayara</h2>
                </div>
            </div>
            <div class="card col-md-4">
                <img src="imgs/luana.jpg" class="card-img-top" alt="..." style="max-width: 400px;">
                <div class="card-body">
                  <h2 class="card-title text-success">Luana Tayná</h2>
                </div>
            </div>
        </div>
        <div class="row g-0 justify-content-center">
            <div class="card col-md-4">
                <img src="imgs/jao.jpg" class="card-img-top" alt="..." style="max-width: 400px;">
                <div class="card-body">
                  <h2 class="card-title text-success">João Henrique</h2>
                </div>
            </div>
            <div class="card col-md-4">
                <img src="imgs/Gaby.jpg" class="card-img-top" alt="..." style="max-width: 400px;">
                <div class="card-body">
                  <h2 class="card-title text-success">Maria Gabriely</h2>
                </div>
            </div>
        </div>
        <p class="mt-5" style="font-size: 1.3em;">
            Este site foi desenvolvido como parte de uma atividade prática da disciplina de biologia,
            com foco na análise de distúrbios alimentares. O objetivo é fornecer informações detalhadas 
            sobre os distúrbios, além de incentivar a procura por ajuda. <br>
            Nossa equipe se dividiu da seguinte forma: <br>
            Programadores: Wescley e João. <br>
            Pesquisadores: Ellainy, Gaby e Luana.
        </p>
      </div>
    </div>
{% endblock conteudo %}